* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html {
    font-size: 100%;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #BAC6DE;
}

body {
    display: inline-flex;
    flex-direction: column;
    color: #131D4F;
    text-wrap: wrap;
    font-size: 2vw;
    
}
p {
    text-wrap: pretty;
    text-align: left;
    word-wrap: break-word;
    padding-right: 2vw;
    text-bottom: 1vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-top:1vw;
    max-width: 90%;
}
#company-logo {
    margin-left: 2vw;
}
.company {
    text-align: left;
    max-width: 70%;
}
h1 {
    padding-right: 1vw;
    margin-right: 2vw;
}
img {
    padding-left: 1vw;
    max-width: 25%;
}
.company-header {
    display: inline-flex;
    flex-direction: row;
    background-color: #EFE4D2;
    font-size: 5vw;
    white-space: nowrap;
    font-family: "Meriweather";
    margin-bottom: 0px;
    height: auto;
    padding: 5vw 0 0 6vw;
    padding-bottom: 0;
    padding-left: 6vw;
    color: #161E2E;
    width: 100%;
    text-align: center;
}
nav {
    display: block;
    font-size: 2vw;
    max-width: 100%;
    padding-top: .5vw;
    background: #2dc653;
    text-align: center;
}
#navigation-bar {
    background: #954C2E !important;
}
.nav-links {
    display: inline-block;
}
li {
    list-style: none;
    text-wrap: nowrap;
    padding: 1vw;
    display: inline-flex;
}
#service {
    align-self: center;
}
a{
    text-decoration: none;
    color: #EFE4D2;
    padding: 5%;
    padding-left: .5em;
}
.nav-links:hover {
    background-color: #254D70 !important;
    border .2rem double;
    border-color:  #DBDBDB;
}
main {
    padding-top: .5rem;
    padding-left: 1em;
}
section{
    padding-bottom: 1rem;
}
#services-list {
    padding-left: 1rem;
}

h2 {
    margin-left: 0;
    padding: .33rem 0 0 .33rem;
    background-color: #254D70;
    max-width: 100% !important;
    color: #EFE4D2;
    
}
form {
    display: table;
/*    flex-direction: column;*/
/*    table-layout: auto;*/
    border-left: 12rem;
}

.box {
    display: inline-flex;
    
/*    padding: 2%;*/
/*    margin-bottom: 10px;*/
}
label {
    display: table-cell;
    padding-right: 3.7vw;
    position: top;
}
input, textarea {
    display: inline-flex;
    height: 2vw;
    width: 50vw;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    margin-bottom: 10px;
    float: right;

}
#message-box {
/*    height: 40vw;*/
    align-content: start;
    display: inline-flex;
}
#message-label {
    align-self: start;
    padding-right: 1.5vw;
}
#message {
    height: 40vw;
}
textarea {
    width : 50vw;
}
.box.box-3 {
    padding-bottom: 2%;
    margin-bottom: 3%;
}
button {
    display: block;
    margin-top: 1rem;
    padding: .33rem;
}

#contact {
    max-width: 100%
    
}
#copyright {
    max-width: 100%;
    font-size: 1vw;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #254D70; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    color: #EFE4D2;
  }

#myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
}
